
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login-container {
    position: relative;
    min-height: 100vh;

    background-image: url("/images/asset2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
}

/* OVERLAY */
.login-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(31, 143, 74, 0.25),
        rgba(31, 143, 74, 0.45)
    );
    z-index: 1;
}

.login-card {
    position: relative;
    z-index: 2;
    width: 380px;
    padding: 40px 30px;
    background: #ffffff;
    border-radius: 22px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 120px;
    height: auto;
}

input {
    width: 100%;
    padding: 14px 18px;
    border-radius: 14px;
    border: none;
    background: #eeeeee;
    margin-bottom: 16px;
    font-size: 14px;
}

.forgot {
    text-align: right;
    margin-bottom: 22px;
}

.forgot a {
    font-size: 13px;
    color: #555;
    text-decoration: none;
}

.btn-login {
    width: 100%;
    padding: 14px;
    border-radius: 24px;
    border: none;
    background: #dcdcdc;
    font-weight: 600;
    cursor: pointer;
}


.switch-auth {
    margin-top: 22px;
    text-align: center;
    font-size: 13px;
    color: #666;
}

.switch-auth a {
    color: #1f8f4a;
    font-weight: 600;
    text-decoration: none;
}


@media (max-width: 768px) {
    .login-container {
        justify-content: center;
        padding-right: 0;
    }

    .login-card {
        width: 90%;
    }
}
.bg-circle {
    position: absolute;
    top: 50%;
    right: 0;

    width: 50vw;        
    height: 140vh;     

    background: rgba(31, 143, 74, 0.45);

    border-top-left-radius: 140vh;
    border-bottom-left-radius: 140vh;

    transform: translateY(-50%);
    z-index: 0;
}